<footer>
  <div class="footer-header">
    <div class="footer-header-content not-drag">
      <!-- <div class="board-link">
        <a [routerLink]="'/board'">공지사항</a>
      </div> -->
      <!-- <div class="board-link">
        <a [routerLink]="'/board'">FAQ</a>
      </div> -->
      <!-- <div class="board-link">
        <a [routerLink]="'/board/5f5ef523713d42001159a011'">출결관리 안내</a>
      </div> -->
      <!-- <br class="d-block d-sm-none">
      <div class="board-link">
        <a [routerLink]="'/board/5f5ef50a713d42001159a010'">온라인 평점</a>
      </div> -->
      <!-- <div class="board-link">
        <a [routerLink]="'/board/5f5ef4efc8a06a0011726bbf'">이용약관</a>
      </div> -->
    </div>
  </div>
  <div class="footer-body">
    <div class="row">
      <div class="col col-md-4 col-12 footer-logo"></div>
      <div class="col col-md-6 col-12 footer-description">
        <b>Korean Society of Otorhinolaryngology-Head and Neck Surgery</b><br>
        T. +82-70-7730-9105 E. info@korl.or.kr H. www.korl.or.kr<br>
        <b>Congress Secretariat | PlusK Co., Ltd.</b><br>
        T. +82-6956-6683 | E. secretariat@icorl2021.rog H. http://www.icorl.org<br>
        Copyright (c) 2021 by Korean Society of Otorhinolaryngology-Head and Neck Surgery
      </div>
      <div class="col col-md-2 col-12 footer-support-logo-wrapper">
        <!-- <div class="footer-support-text">Supporting Organizations</div> -->
        <div class="footer-support-logo">
        <!-- <div class="footer-support-logo" (click)="open()"> -->
        </div>
      </div>
    </div>
  </div>
</footer>
