<div class="timetable-wrapper">
  <div class="timetable-nav">
    <div class="timetable-list">
      <div class="content-inner">
        <div class="nav-item"><a [ngClass]="{'active':date===1}" (click)="setDate(1)">2021 . 4 . 23(Fri)</a>
        </div>
        <div class="nav-item"><a [ngClass]="{'active':date===2}" (click)="setDate(2)">2021 . 4 . 24(Sat)</a>
        </div>
        <div class="nav-item"><a [ngClass]="{'active':date===3}" (click)="setDate(3)">2021 . 4 . 25(Sun)</a>
        </div>
      </div>
    </div>
  </div>
  <div class="timetable">
    <!-- ! -------------------------Day 1------------------------- -->
    <table class="program" #table1 *ngIf="date === 1">
      <colgroup>
        <col style="width:5%">
        <col style="width:5%">
        <col style="width:18%">
        <col style="width:18%">
        <col style="width:18%">
        <col style="width:18%">
        <col style="width:18%">
        <col style="width:10%">
      </colgroup>
      <thead>
        <tr>
          <th colspan="2" class="time">
            Time
          </th>
          <th #th1>
            Grand Ballroom
            <div class="channel-btn" [ngStyle]="channelBtnStyle1" (click)="goLive(0, 0)">
            </div>
          </th>
          <th #th2>
            Room 1 (Otology)
            <div class="channel-btn" [ngStyle]="channelBtnStyle1" (click)="goLive(0, 1)"></div>
          </th>
          <th #th3>
            Room 2 (Rhinology)
            <div class="channel-btn" [ngStyle]="channelBtnStyle1" (click)="goLive(0, 2)"></div>
          </th>
          <th #th4>
            Room 3 (H&N)
            <div class="channel-btn" [ngStyle]="channelBtnStyle1" (click)="goLive(0, 3)"></div>
          </th>
          <th #th5>
            Room 4 (International)
            <div class="channel-btn" [ngStyle]="channelBtnStyle1" (click)="goLive(0, 4)"></div>
          </th>
          <th #th6>
            Poster
            <div class="channel-btn" [ngStyle]="channelBtnStyle1" (click)="goPoster()"></div>
          </th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td class="time">08:00</td>
          <td class="time">09:00</td>
          <td></td>
          <td class="icorl-ot">
            <b>OT-OP1</b><br>
            External Ear & Truma, Tumor (English)
          </td>
          <td class="icorl-rh">
            <b>RH-OP1</b><br>
            Allergic Rhinitis (English)
          </td>
          <td class="icorl-hn">
            <b>HN-OP1</b><br>
            Endoscopic & Robotic Surgery
          </td>
          <td class="icorl-ot">
            <b>OT-SP1 (KAOS)</b><br>
            1. David Chi (USA)<br>
            2. Kenneth H. Lee (USA)<br>
            3. Euna Hwang (Canada)
          </td>
          <td class="icorl-poster" rowspan="16">
            <b>TPP</b><br><br>
            OTTPP<br>
            RHTPP<br>
            HNTPP<br>
            <br><br><br>
            <b>PX</b><br><br>
            OTPX<br>
            RHPX<br>
            HNPX<br>
          </td>
        </tr>

        <tr>
          <td class="time">09:00</td>
          <td class="time">09:20</td>
          <td colspan="5" class="icorl-general">Opening Ceremony</td>
        </tr>

        <tr>
          <td class="time">09:20</td>
          <td class="time">10:00</td>
          <td colspan="5" class="icorl-general">
            Plenary Session<br>
            Augustine M.K. Choi
          </td>
        </tr>

        <tr>
          <td class="time">10:00</td>
          <td class="time">10:20</td>
          <td colspan="5" class="icorl-break">BREAK</td>
        </tr>

        <tr>
          <td class="time">10:20</td>
          <td class="time">10:50</td>
          <td colspan="5" class="icorl-general">
            Special Lecture: Academic Achievement Award / Excellence in Research Award
          </td>
        </tr>

        <tr>
          <td class="time" rowspan="2">10:50</td>
          <td class="time" rowspan="2">12:20</td>
          <td rowspan="2" class="icorl-symposium"><b>연구활성화 심포지움</b></td>
          <td rowspan="2" class="icorl-ot">
            <b>OT-SP2</b><br>
            Inner Ear Updates
          </td>
          <td rowspan="2" class="icorl-rh">
            <b>RH-MOS</b><br>
            Management in Complex Reconstructive Surgery
          </td>
          <td class="icorl-hn">
            <b>HN-KL1</b><br>
            Se Heon Kim
          </td>
          <td class="icorl-ot">
            <b>OT-KL1</b><br>
            Seiji Kakehata (Japan)
          </td>
        </tr>

        <tr>
          <td class="icorl-hn">
            <b>HN-SP1</b><br>
            Head & Neck Reconstruction
          </td>
          <td class="icorl-ot">
            <b>OT-SP3</b><br>
            Endoscopic Ear Surgery
          </td>
        </tr>

        <tr>
          <td class="time">12:20</td>
          <td class="time">13:20</td>
          <td class="icorl-general">
            General Assembly
          </td>
          <td colspan="4" class="icorl-break">LUNCH</td>
        </tr>

        <tr>
          <td class="time" rowspan="2">13:20</td>
          <td class="time" rowspan="2">14:20</td>
          <td rowspan="2" class="icorl-symposium">
            <b>윤리특강<br>
              (필수평점강의)
            </b>

          </td>
          <td class="icorl-ot">
            <b>OT-KL2</b><br>
            Ja-Won Koo
          </td>
          <td rowspan="2" class="icorl-rh">
            <b>RH-OP2</b><br>
            Sleep Related Breathing Disorders (English)
          </td>
          <td rowspan="2" class="icorl-hn">
            <b>HN-OP2</b><br>
            Oral Cavity & Salivary Gland
          </td>
          <td class="icorl-rh">
            <b>RH-KL1</b><br>
            Peter H. Hwang (USA)
          </td>
        </tr>

        <tr>
          <td rowspan="2" class="icorl-ot">
            <b>OT-RT</b><br>
            Stapes Surgery
          </td>
          <td rowspan="2" class="icorl-rh">
            <b>RH-SP1</b><br>
            Surgical Aspects of Skull Base Lesions
          </td>
        </tr>

        <tr>
          <td class="time" rowspan="2">14:20</td>
          <td class="time" rowspan="2">15:20</td>
          <td rowspan="2" class="icorl-symposium"><b>기자간담회</b></td>
          <td rowspan="2" class="icorl-rh">
            <b>RH-OP3</b><br>
            Basic Research
          </td>
          <td rowspan="2" class="icorl-hn">
            <b>HN-SP2</b><br>
            Diagnosis & Management of Benign Salivary Diseases
          </td>
        </tr>

        <tr></tr>
        <tr>
          <td class="time">15:20</td>
          <td class="time">15:40</td>
          <td colspan="5" class="icorl-break">BREAK</td>
        </tr>

        <tr>
          <td class="time">15:40</td>
          <td class="time">17:00</td>
          <td rowspan="2" class="icorl-symposium"><b>수련워크숍</b></td>
          <td class="icorl-ot">
            <b>OT-SP4</b><br>
            Implantable Hearing Device
          </td>
          <td class="icorl-rh">
            <b>RH-SP2</b><br>
            Mechanism and pathogenesis of allergic Rhinitis
          </td>
          <td rowspan="3" class="icorl-symposium">
            <b>대한이비인후<br>-두경부외과학회지<br>SCOPUS 등재 기념 간행 워크숍</b>
          </td>
          <td rowspan="2" class="icorl-hn">
            <b>HN-SP3</b><br>
            Update in the Management of Laryngeal Disease
          </td>
        </tr>

        <tr>
          <td class="time" rowspan="2">17:00</td>
          <td class="time" rowspan="2">17:40</td>
          <td rowspan="2" class="icorl-ot">
            <b>OT-OP2</b><br>
            Inner Ear Basic
          </td>
          <td rowspan="2" class="icorl-rh">
            <b>RH-OP4</b><br>
            Plastic Surgery and Facial Trauma
          </td>
        </tr>

        <tr>
          <td class="icorl-symposium"><b>수련병원과장회의</b></td>
          <td class="icorl-hn"><b>HN-KL2</b><br>
            Wojciech Golusinski (Poland)
          </td>
        </tr>


        <tr>
          <td class="time">18:00</td>
          <td class="time">19:30</td>
          <td class="icorl-symposium" colspan="6"><b>상임이사-학술위원회 간담회</b></td>
        </tr>
      </tbody>
    </table>

    <!-- ! -------------------------------DAY2------------------------------- -->

    <table class="program" #table2 *ngIf="date === 2">
      <colgroup>
        <col style="width:5%">
        <col style="width:5%">
        <col style="width:20%">
        <col style="width:20%">
        <col style="width:20%">
        <col style="width:20%">
        <col style="width:10%">
      </colgroup>
      <thead>
        <tr>
          <th colspan="2" class="time">
            Time
          </th>
          <th #th1>
            Room 1 (Otology)
            <div class="channel-btn" [ngStyle]="channelBtnStyle2" (click)="goLive(1, 1)">
            </div>
          </th>
          <th #th2>
            Room 2 (Rhinology)
            <div class="channel-btn" [ngStyle]="channelBtnStyle2" (click)="goLive(1, 2)"></div>
          </th>
          <th #th3>
            Room 3 (H&N)
            <div class="channel-btn" [ngStyle]="channelBtnStyle2" (click)="goLive(1, 3)"></div>
          </th>
          <th #th4>
            Room 4 (International)
            <div class="channel-btn" [ngStyle]="channelBtnStyle2" (click)="goLive(1, 4)"></div>
          </th>
          <th #th5>
            Poster
            <div class="channel-btn" [ngStyle]="channelBtnStyle2" (click)="goPoster()"></div>
          </th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td class="time" rowspan="2">08:00</td>
          <td class="time" rowspan="2">09:00</td>
          <td rowspan="2" class="icorl-ot">
            <b>OT-OP3</b><br>
            Auditory Nerve System & Audiology
          </td>
          <td rowspan="2" class="icorl-rh">
            <b>RH-OP5</b><br>
            Sleep Related Breathing Disorders
          </td>
          <td rowspan="2" class="icorl-hn">
            <b>HN-OP3</b><br>
            Experimental & Other Clinical Research I
          </td>
          <td class="icorl-rh">
            <b>RH-KL2</b><br>
            De Yun Wang (Singapore)
          </td>
          <td rowspan="18" class="icorl-poster">
            <b>TPP</b><br><br>
            OTTPP<br>
            RHTPP<br>
            HNTPP<br>
            <br><br><br>
            <b>PX</b><br><br>
            OTPX<br>
            RHPX<br>
            HNPX<br>
          </td>
        </tr>

        <tr>
          <td rowspan="3" class="icorl-rh">
            <b>RH-SP3</b><br>
            Update in Basic Research of Airway Immunity
          </td>
        </tr>

        <tr>
          <td class="time" rowspan="2">09:00</td>
          <td class="time" rowspan="2">10:00</td>
        </tr>

        <tr>
          <td class="icorl-ot">
            <b>OT-MOS</b><br>
            Dilatory Eustachian Tube Dysfunction : Diagnosis to Treatment
          </td>
          <td class="icorl-rh">
            <b>RH-MTP</b><br>
            Sinus Specific Treatment of Inverted Papilloma
          </td>
          <td class="icorl-hn">
            <b>HN-OP4</b><br>
            Reconstruction / Others
          </td>
        </tr>
        <tr></tr>
        <tr>
          <td class="time">10:00</td>
          <td class="time">10:20</td>
          <td colspan="4" class="icorl-break">BREAK</td>
        </tr>
        <tr>
          <td class="time" rowspan="2">10:20</td>
          <td class="time" rowspan="2">11:20</td>
          <td rowspan="2" class="icorl-ot">
            <b>OT-MTP</b><br>
            Management of Auricular Malformation in Specific Situation
          </td>
          <td rowspan="3" class="icorl-rh">
            <b>RH-RT</b><br>
            PNS Tumor Problems and Solutions
          </td>
          <td rowspan="2" class="icorl-hn">
            <b>HN-RT1 (75)</b><br>
            Decision Making in Difficult H&N Surgery
          </td>
          <td rowspan="2" class="icorl-rh">
            <b>RH-KL3</b><br>
            Stephen S. Park (USA)
          </td>
        </tr>
        <tr></tr>
        <tr>
          <td class="time">11:20</td>
          <td class="time">12:20</td>
          <td class="icorl-ot">
            <b>OT-SP5</b><br>
            What's New in Tinnitus Research?
          </td>
          <td class="icorl-hn">
            <b>HN-SP4 (45)</b><br>
            Organoids Research in the Field of Head and Neck
          </td>
          <td class="icorl-rh">
            <b>RH-SP4</b><br>
            Tips, Tricks, and Mistakes to Be Avoided for the Young Rhinoplasty Surgeon
          </td>
        </tr>

        <tr>
          <td class="time" rowspan="2">12:30</td>
          <td class="time" rowspan="2">13:20</td>
          <td colspan="4" class="icorl-break" style="border:0;">
            LUNCH
          </td>
        </tr>

        <tr>
          <td style="border-top: none;" class="icorl-break"></td>
          <td rowspan="3" class="icorl-symposium"><b>문항개발 워크숍</b></td>
          <td style="border:0;" class="icorl-break"></td>
          <td style="border:0;" class="icorl-break"></td>
        </tr>

        <tr>
          <td class="time" rowspan="2">13:20</td>
          <td class="time" rowspan="2">14:20</td>
          <td rowspan="2" class="icorl-ot">
            <b>OT-SP6</b><br>
            Gait, Posture, and Falling
          </td>
          <td rowspan="2" class="icorl-hn">
            <b>HN-SP5</b><br>
            Broncho-Esophagology Tracheostomy in COVID-19
          </td>
          <td class="icorl-hn">
            <b>HN-KL3</b><br>
            Pei-Jen Lou (Taiwan)
          </td>
        </tr>
        <tr>
          <td rowspan="2" class="icorl-hn">
            <b>HN-SP6</b><br>
            Larynx & Hypopharynx Cancers
          </td>
        </tr>

        <tr>
          <td class="time">14:20</td>
          <td class="time">15:20</td>
          <td class="icorl-ot">
            <b>OT-OP4</b><br>
            Middle Ear & Cholesteatoma
          </td>
          <td class="icorl-rh">
            <b>RH-Pros & Cons</b><br>
            My secret for Treating Olfactory Disorders
          </td>
          <td class="icorl-hn">
            <b>HN-RT2 (SLP)</b><br>
            흔한 음성 질환 치료의 실제
          </td>

        </tr>

        <tr>
          <td class="time">15:20</td>
          <td class="time">15:40</td>
          <td colspan="4" class="icorl-break">
            BREAK
          </td>
        </tr>

        <tr>
          <td class="time" rowspan="2">15:40</td>
          <td class="time" rowspan="2">16:40</td>
          <td rowspan="2" class="icorl-ot">
            <b>OT-OP5</b><br>
            Others I
          </td>
          <td rowspan="2" class="icorl-rh">
            <b>RH-OP6</b><br>
            Rhinosinusitis
          </td>
          <td rowspan="2" class="icorl-hn">
            <b>HN-OP5</b><br>
            Larynx & Voice
          </td>
          <td class="icorl-ot">
            <b>OT-KL3 (40)</b><br>
            Holger K. Sudhoff<br>(Germany)
          </td>
        </tr>

        <tr>
          <td rowspan="2" class="icorl-ot">
            <b>OT-SP7</b><br>
            Clinical Management of Eustachian Tube Disorders
          </td>
        </tr>

        <tr>
          <td class="time">16:40</td>
          <td class="time">17:40</td>
          <td class="icorl-ot">
            <b>OT-OP6</b><br>
            Others II (English)
          </td>
          <td class="icorl-rh">
            <b>RH-OP7</b><br>
            Sinonasal Tumors
          </td>
          <td class="icorl-hn">
            <b>HN-OP6</b><br>
            International (English)
          </td>
        </tr>


        <tr>
          <td class="time">18:00</td>
          <td class="time">19:30</td>
          <td class="icorl-symposium" colspan="5">
            <b>
              대한이비인후과학회-대한이비인후과의사회 간담회
            </b>
          </td>
        </tr>
      </tbody>
    </table>

    <!-- ! -------------------------DAY 3---------------------- -->
    <table class="program" #table3 *ngIf="date === 3">
      <colgroup>
        <col style="width:5%">
        <col style="width:5%">
        <col style="width:20%">
        <col style="width:20%">
        <col style="width:20%">
        <col style="width:20%">
        <col style="width:10%">
      </colgroup>
      <thead>
        <tr>
          <th colspan="2" class="time">
            Time
          </th>
          <th #th1>
            Room 1 (의사회)
            <div class="channel-btn" [ngStyle]="channelBtnStyle3" (click)="goLive(2, 1)">
            </div>
          </th>
          <th #th2>
            Room 2 (OtoRhinology)
            <div class="channel-btn" [ngStyle]="channelBtnStyle3" (click)="goLive(2, 2)"></div>
          </th>
          <th #th3>
            Room 3 (Oto, H&N)
            <div class="channel-btn" [ngStyle]="channelBtnStyle3" (click)="goLive(2, 3)"></div>
          </th>
          <th #th4>
            Room 4 (International)
            <div class="channel-btn" [ngStyle]="channelBtnStyle3" (click)="goLive(2, 4)"></div>
          </th>
          <th #th5>
            Poster
            <div class="channel-btn" [ngStyle]="channelBtnStyle3" (click)="goPoster()"></div>
          </th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td rowspan="3" class="time">08:00</td>
          <td rowspan="3" class="time">08:30</td>
          <td rowspan="3" class="icorl-skyblue">
            <b>보험특강</b><br>
          </td>
          <td rowspan="6" class="icorl-rh">
            <b>RH-OP8</b><br>
            Olfaction (English)
          </td>
          <td rowspan="6" class="icorl-hn">
            <b>HN-OP7</b><br>
            Experimental & Other Clinical Research II
          </td>
          <td rowspan="3" class="icorl-hn">
            <b>HN-KL4</b><br>
            Seth H. Dailey (USA)
          </td>
          <td rowspan="60" class="icorl-poster">
            <b>TPP</b><br><br>
            OTTPP<br>
            RHTPP<br>
            HNTPP<br>
            <br><br><br>
            <b>PX</b><br><br>
            OTPX<br>
            RHPX<br>
            HNPX<br>
          </td>
        </tr>
        <tr>
        </tr>
        <tr>
        </tr>
        <tr>
          <td class="time">08:30</td>
          <td class="time">08:40</td>
          <td class="icorl-skyblue"><b>개회사&#183;축사</b></td>
          <td rowspan="9" class="icorl-hn">
            <b>HN-SP7</b><br>
            Robotic or Endoscopic Surgery for Head & Neck Cancer : Improvements and Results
          </td>
        </tr>
        <tr style="height:100px;">
          <td rowspan="8" class="time">08:40</td>
          <td rowspan="8" class="time">10:00</td>
          <td rowspan="6" class="icorl-skyblue">
            <b>임상세미나 I</b><br>
            이과
          </td>
        </tr>
        <tr>
        </tr>
        <tr>
          <td rowspan="6" class="icorl-ot">
            <b>OT-OP7</b><br>
            Audiology Rehabilitation
          </td>
          <td rowspan="6" class="icorl-hn">
            <b>HN-OP8</b><br>
            Thyroid
          </td>
        </tr>
        <tr>
        </tr>
        <tr>
        </tr>
        <tr>
        </tr>
        <tr>
          <td rowspan="6" class="icorl-skyblue"><b>임상세미나 II</b><br>이과</td>
        </tr>
        <tr>
        </tr>
        <tr>
          <td class="time" rowspan="2">10:00</td>
          <td class="time" rowspan="2">10:20</td>
          <td class="icorl-break" colspan="3" rowspan="2">BREAK</td>
        </tr>
        <tr>
        </tr>
        <tr>
          <td class="time" rowspan="6">10:20</td>
          <td class="time" rowspan="6">11:20</td>
          <td rowspan="12" class="icorl-rh">
            <b>RH-SP5</b><br>
            Introduction to Practical Surgical Techniques in OSA
          </td>
          <td rowspan="6" class="icorl-ot">
            <b>OT-OP8</b><br>
            Vestibular Basic
          </td>
          <td rowspan="3" class="icorl-hn">
            <b>HN-KL5</b><br>
            Michael J. Rutter (USA)
          </td>
        </tr>
        <tr>
        </tr>
        <tr>
          <td class="icorl-break">COFFEE BREAK</td>
        </tr>
        <tr>
          <td rowspan="6" class="icorl-skyblue">
            <b>의료사안 감정서<br> 작성 요령 및 의료법</b><br>
            <b>(필수평점강의)</b>
          </td>
          <td rowspan="9" class="icorl-hn">
            <b>HN-SP8</b><br>
            Personalized Approach to Thyroid Cancer Management
          </td>
        </tr>
        <tr>
        </tr>
        <tr>
        </tr>
        <tr>
          <td class="time" rowspan="6">11:20</td>
          <td class="time" rowspan="6">12:20</td>
          <td rowspan="6" class="icorl-ot">
            <b>OT-OP9</b><br>
            Vestibular Disorder
          </td>
        </tr>
        <tr>
        </tr>
        <tr>
        </tr>
        <tr>
          <td rowspan="3" class="icorl-skyblue"><b>전체특강</b></td>
        </tr>
        <tr>
        </tr>
        <tr>
        </tr>
        <tr>
          <td rowspan="6" class="time">12:20</td>
          <td rowspan="6" class="time">13:20</td>
          <td rowspan="3" class="icorl-skyblue"><b>정책특강</b></td>
          <td rowspan="3" style="border:0;" class="icorl-break"></td>
          <td style="border:0;" class="icorl-break">LUNCH</td>
          <td style="border:0;" class="icorl-break"></td>
        </tr>
        <tr>
        </tr>
        <tr>
        </tr>
        <tr>
          <td style="border-right:0;" class="icorl-break"></td>
          <td colspan="3" rowspan="3" class="icorl-break" style="border-top:0;border-left:0;"></td>
        </tr>
        <tr>
        </tr>
        <tr>
        </tr>
        <tr>
          <td rowspan="6" class="time">13:20</td>
          <td rowspan="6" class="time">14:20</td>
          <td rowspan="6" class="icorl-skyblue"><b>임상세미나 III</b><br>비과</td>
          <td rowspan="6" class="icorl-rh">
            <b>RH-OP9</b><br>
            Plastic Surgery and Facial Trauma (English)
          </td>
          <td rowspan="4" class="icorl-hn">
            <b>HN-KL6</b><br>
            Seung-Ho Choi
          </td>
          <td rowspan="4" class="icorl-ot">
            <b>OT-KL4</b><br>
            Levent Sennaroglu (Turkey)
          </td>
        </tr>
        <tr>
        </tr>
        <tr>
        </tr>
        <tr>
        </tr>
        <tr>
          <td rowspan="8" class="icorl-hn">
            <b>HN-GD</b><br>
            Grand Debate on the Management of Oral Cancer
          </td>
          <td rowspan="8" class="icorl-ot">
            <b>OT-SP8</b><br>
            Updates on Pediatric Cochlear Implantation
          </td>
        </tr>
        <tr>
        </tr>
        <tr>
          <td rowspan="6" class="time">14:20</td>
          <td rowspan="6" class="time">15:20</td>
          <td rowspan="6" class="icorl-skyblue"><b>임상세미나 IV</b><br>비과</td>
          <td rowspan="6" class="icorl-ot">
            <b>OT-OP10</b><br>
            Inner Ear disease
          </td>
        </tr>
        <tr>
        </tr>
        <tr>
        </tr>
        <tr>
        </tr>
        <tr>
        </tr>
        <tr>
        </tr>
        <tr>
          <td class="time" rowspan="2">15:20</td>
          <td class="time" rowspan="2">15:40</td>
          <td colspan="4" rowspan="2" class="icorl-break">BREAK</td>
        </tr>
        <tr>
        </tr>
        <tr>
          <td class="time" rowspan="6">15:40</td>
          <td class="time" rowspan="6">16:40</td>
          <td rowspan="6" class="icorl-skyblue">
            <b>임상세미나 V</b><br>두경부
          </td>
          <td rowspan="6" class="icorl-ot">
            <b>OT-OP11</b><br>
            (Best Oral Presentation)
          </td>
          <td rowspan="6" class="icorl-hn">
            <b>HN-OP9</b><br>
            Pharynx
          </td>
          <td rowspan="12" class="icorl-rh">
            <b>RH-SP6</b><br>
            Prevalence and Features of CRS Worldwide
          </td>
        </tr>
        <tr>
        </tr>
        <tr>
        </tr>
        <tr>
        </tr>
        <tr>
        </tr>
        <tr>
        </tr>
        <tr>
          <td class="time" rowspan="6">1640</td>
          <td class="time" rowspan="6">1740</td>
          <td rowspan="6" class="icorl-skyblue"><b>임상세미나 VI</b><br>두경부</td>
          <td rowspan="6" class="icorl-rh">
            <b>RH-OP10</b><br>
            (Best Oral Presentation)
          </td>
          <td rowspan="6" class="icorl-hn">
            <b>HN-OP10</b><br>
            (Best Oral Presentation)
          </td>
        </tr>
        <tr>
        </tr>
        <tr>
        </tr>
        <tr>
        </tr>
        <tr>
        </tr>
        <tr>
        </tr>
        <tr>
          <td class="time" rowspan="2">17:40</td>
          <td class="time" rowspan="2">~</td>
          <td colspan="4" rowspan="2" class="icorl-general">Closing Ceremony</td>
        </tr>
        <tr>
        </tr>
      </tbody>
    </table>

  </div>
</div>
