<div class="player-wrapper" *ngIf="liveUrl">
  <div class="left-wrapper" id="playerContainer" [ngStyle]="{'width':isLive?'70%':'100%'}" *ngIf="content">
    <div class="player">
      <div id="Container" style="padding-bottom:56.25%; position:relative; display:block; width: 100%">
        <iframe id="UstreamIframe" width="100%" height="100%" [src]="liveUrl" allowfullscreen webkitallowfullscreen
          frameborder="0" style="position:absolute; top:0; left: 0"></iframe>
      </div>
    </div>
  </div>

  <div class="right-wrapper" *ngIf="!isAgendaDetail">
    <!-- <div class="ad">
      <div class="ad">
        <a class="ad-link">
          <img src="../../../assets/img/liveChat.gif" role="img" alt="sponsor logo">
        </a>
      </div>
    </div> -->
    <div class="reply not-drag">
      <div class="reply-list">
        <div #commentList class="reply-history">
          <div class="reply-item" *ngFor="let reply of replys; let last = last">
            <div class="reply-user">{{reply?.member?.name}}</div>
            <div class="reply-content">
              {{reply.content}}
              <span *ngIf="check(reply)"><a (click)="delete(reply)" class="reply-delete">X</a></span>
            </div>
            <!-- {{last? downScroll():''}} -->
          </div>
        </div>
      </div>
      <form class="reply-form" [formGroup]="replyForm" (submit)="comment()">
        <label>[{{user.name}}]</label>
        <input class="form-control" type="text" placeholder="Submit your question on session."
          formControlName="content" />
        <hr>
        <div class="text-right">
          <!-- 0/200  -->
          <button class="btn btn-send" type="submit">SEND</button>
        </div>
      </form>
    </div>
  </div>
</div>
