.board-btn {
  position: fixed;
  width: 76px;
  height: 76px;
  right: 32px;
  bottom: 32px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  background: var(--blue8);
  color: var(--white);
  font-size: 2rem;
  box-shadow: 2px 2px 4px RGBA(0, 0, 0, 0.3);
  z-index: 999;
}

.check_page {
  text-align: center;
  line-height: 3;
  position: absolute;
  top: 0;
  z-index: 9999;
  padding-top: 200px;
  font-size: 25px;
  font-weight: 500;
  width: 100%;
  height: 100%;
  background: black;
  opacity: 0.8;
  color: white;
  display: flex;
  justify-content: center;
  // height: 5000px;
}

@media(max-width: 767px) {
  .toast-wrapper {
    width: 50%;
  }
}
