.banner-wrapper {
  width: 100%;
  margin: 0 auto;

  position: relative;
  text-align: center;

  img {
    width: 100%;
  }

  .m-banner-image {
    display: none;
    width: 100%;
    // height: 756px;
    // max-height: 89vh;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
  }

  .btn-wrapper {
    text-align: center;
    animation: movement 1s ease 0s infinite alternate;
    -webkit-animation: movement 1s ease 0s infinite alternate;
  }

  .go-btn {
    margin-top: 24px;
    display: inline-block;
    width: 180px;

    &+span {
      display: block;
      padding-top: 8px;
      color: var(--purple);
    }
  }
}

@media (max-width: 767px) {}

@media(max-width: 575px) {
  .banner-wrapper {
    width: 100%;

    .m-banner-image {
      display: block;
    }

    &>img {
      display: none;
    }
  }
}
