.player-wrapper {
  background: var(--white);

  .player-vod {
    display: flex;
    align-items: center;
    width: 100%;
    min-height: 460px;

    .left-wrapper {
      position: relative;
      width: 70%;
      background: var(--black);

      .video-js,
      #videoJs {
        overflow: hidden;
        width: 100%;
        height: 0;

        #videoJs_html5_api {
          position: absolute;
          top: 0;
          width: 100%;
          height: 100%;
        }
      }
    }

    .right-wrapper {
      position: relative;
      display: flex;
      flex-direction: column;
      min-width: 30%;
      min-height: 460px;

      .ad {
        .ad-link {
          display: flex;
          align-items: center;
          justify-content: center;
          width: 100%;
          height: 90px;
          background: var(--white);
          cursor: default;

          img {
            width: auto;
            height: auto;
            max-width: 80%;
            max-height: 80%;
          }
        }
      }

      .reply {
        display: flex;
        flex: 1;
        flex-direction: column;

        .reply-header {
          width: 100%;
          height: 56px;
          padding: 0 8px;
          font-size: 1.4rem;
          font-weight: 500;
          background: var(--gray7);
          line-height: 56px;

          a {
            display: inline-block;
            max-width: 179px;
            width: calc(50% - 7px);
            margin-left: 7px;
            color: var(--gray19);
            background: var(--gray21);
            border-radius: 4px;
            -webkit-border-radius: 4px;
            -moz-border-radius: 4px;
            -ms-border-radius: 4px;
            -o-border-radius: 4px;
            text-align: center;
            line-height: 40px;

            &:first-child {
              margin-left: 0;
            }

            &.active {
              color: var(--white);
              background: var(--blue9);
            }

            &:hover {
              color: var(--white);
              background: var(--blue9);
            }
          }
        }

        .reply-list {
          overflow-y: scroll;
          position: relative;
          flex: 1;
          background: var(--white);

          .reply-history {
            overflow-x: hidden;
            overflow-y: auto;
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            padding: 16px;

            .reply-item {
              display: flex;
              margin-bottom: 8px;

              .reply-user {
                width: 84px;
                margin-right: 16px;
                font-size: 12px;
                color: var(--gray25);
                word-break: break-all;
              }

              .reply-content {
                flex: 1;
                width: 100px;
                font-size: 12px;
                word-wrap: break-word;

                .reply-delete {
                  font-size: 10px;
                  color: rgb(226, 142, 142)
                }
              }
            }
          }
        }

        .reply-form {
          padding: 8px 16px;
          background: var(--gray7);

          label {
            font-size: 1.2rem;
          }

          input {
            padding-left: 0;
            padding-right: 0;
            border: none;
            background: none;

            &::placeholder {
              color: var(--gray24);
            }
          }

          hr {
            margin-top: 2px;
          }

          >div {
            font-size: 1rem;
            color: var(--gray7);

            .btn-send {
              margin-left: 16px;
              color: var(--black);
              background: var(--gray2);
              border-radius: 4px;
            }
          }
        }
      }
    }
  }
}

@media (max-width: 767px) {
  .player-wrapper {

    .player-vod {
      flex-direction: column;

      .left-wrapper,
      .right-wrapper {
        width: 100%;
        min-width: 100%;

        .reply {
          .reply-header {

            a {
              max-width: 50%;
            }
          }
        }
      }
    }
  }
}
