<div class="content-body">
  <app-banner></app-banner>
  <section class="about">
    <app-about [opt]="true"></app-about>
  </section>

  <section class="program">
    <div class="content-inner">
      <div class="title-wrapper">
        <h2>Program</h2>
      </div>
      <div class="korea-time">
        <img src="assets/img/korea-symbol.png">
        Local Time {{ koreaTime | amDateFormat: 'yyyy.MM.DD HH:mm:ss' }}
      </div>
    </div>
    <div class="content-inner">
      <div class="row m-0 sub-title-wrapper">
        <!-- <div class="col-md-6 p-0">
          <h3>Program at a glance</h3>
        </div> -->
        <!-- <div class="col-md-6 p-0 text-right" *ngIf="user">
          <a class="download" [href]="programBookUrl" target="_blank">
            <span>Program Book</span>
            <i class="icon-download" aria-hidden="true"></i>
          </a>

          <a class="download" [href]="excerptUrl" target="_blank">
            <i class="icon-book" aria-hidden="true"></i>
            <span>Abstract</span>
            <i class="icon-download" aria-hidden="true"></i>
          </a>
        </div> -->
      </div>
      <app-time-table></app-time-table>
    </div>
  </section>

  <section class="speaker">
    <div class="content-wrapper icorl">
      <div class="content-inner">
        <div class="title-wrapper">
          <h2>Speakers</h2>
        </div>
      </div>

      <div class="content-inner">
        <div id="speakerList" class="carousel slide" data-interval="false">
          <div class="carousel-inner">
            <div class="carousel-item" *ngFor="let speakersItem of speakers; let i = index;"
              [ngClass]="{'active' : i === 0}">
              <div class="speaker-item row m-0">
                <div class="p-2" [ngClass]="mobile? 'col-6': 'col-2'" *ngFor="let speaker of speakersItem">
                  <app-speaker [hidden]="!speaker" [speaker]="speaker"></app-speaker>
                </div>
              </div>
            </div>
          </div>

          <a class="carousel-control-prev slider-btn prev" href="#speakerList" role="button" data-slide="prev">
            <span class="icon-left" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
          </a>
          <a class="carousel-control-next slider-btn next" href="#speakerList" role="button" data-slide="next">
            <span class="icon-right" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
          </a>
        </div>
        <div class="btn-wrapper text-center">
          <button class="content-link view-more" [routerLink]="'/speakers'">
            <span>View more</span>
            <i class="icon-more" aria-hidden="true"></i>
          </button>
        </div>
      </div>
    </div>
  </section>

  <section class="speaker">
    <div class="content-wrapper">
      <div class="content-inner">
        <div class="title-wrapper">
          <h2>Sponsors</h2>
        </div>
      </div>

      <div class="content-inner">
        <div id="boothList" class="carousel slide" data-interval="false">
          <div class="carousel-inner">
            <div class="carousel-item" *ngFor="let boothItem of booths; let i = index;"
              [ngClass]="{'active' : i === 0}">
              <div class="speaker-item row m-0">
                <div class="p-2" [ngClass]="mobile? 'col-6': 'col-2'" *ngFor="let booth of boothItem">
                  <article>
                    <div class="list-wrapper row m-0">
                      <div class="sponsor-wrapper" [attr.data-target]="'#e-boothModal'" data-toggle="modal">
                        <figure>
                          <div class="image-wrapper">
                            <img [src]="booth.photoUrl" [alt]="booth.name">
                          </div>
                        </figure>
                      </div>
                    </div>
                  </article>
                </div>
              </div>
            </div>
          </div>

          <a class="carousel-control-prev slider-btn prev" href="#boothList" role="button" data-slide="prev">
            <span class="icon-left" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
          </a>
          <a class="carousel-control-next slider-btn next" href="#boothList" role="button" data-slide="next">
            <span class="icon-right" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
          </a>
        </div>
        <div class="btn-wrapper text-center">
          <button class="content-link view-more" [routerLink]="'/e-booth'">
            <span>View more</span>
            <i class="icon-more" aria-hidden="true"></i>
          </button>
        </div>
      </div>
    </div>
  </section>
</div>

<button #entryAlertBtn class="policy-alert-btn" data-toggle="modal" data-target="#entryAlert">
  entryAlert MODAL Open
</button>

<!-- Entry modal -->
<div class="modal policy-alert fade" id="entryAlert" data-backdrop="static" role="dialog" aria-labelledby="entryAlert"
  tabindex="-1" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered justify-content-center" role="document">
    <div class="modal-content not-drag">
      <div class="modal-body p-0">
        <div class="modal-title">
          <img src="../../../assets/img/icon-warning.png">Notice
        </div>
        <div class="modal-description">
          <p class="mb-2 text-center">
            * 재방송 시청 안내 *<br>
            <span style="font-size: 1.6rem;">ICORL2021 강연 VOD 시청은<br>
              5월 6일부터 6월 5일까지<br>
              VOD 시청이 가능합니다.<br><br>
            </span>
            * E-Booth 투어 이벤트 당첨자 발표 *<br>
            <span style="font-size: 1.6rem;">
              <a href="http://icorl2021.cf-air.com/board/609c7e9cb7511b00129b67a0" target="_blank">당첨자 확인하기 (Click)</a>
            </span>
          </p>
        </div>
        <button type="button" class="btn btn-block confirm-btn" data-toggle="modal" data-target="#entryAlert">
          OK
        </button>
      </div>
    </div>
  </div>
</div>
