<div class="content-body">
  <div class="content-wrapper">
    <div class="content-inner">
      <div>
        <div class="title-wrapper">
          <h2>Plenary Lecture</h2>
        </div>
        <article>
          <div class="list-wrapper row m-0">
            <div class="list-item px-3" [ngClass]="mobile ? 'col-6': 'col-2'"
              *ngFor="let speaker of speakers['Part i']">
              <app-speaker [speaker]="speaker"></app-speaker>
            </div>
          </div>
        </article>

        <div class="title-wrapper">
          <h2>Otology</h2>
        </div>
        <article>
          <div class="list-wrapper row m-0">
            <div class="list-item px-3" [ngClass]="mobile ? 'col-6': 'col-2'"
              *ngFor="let speaker of speakers['Part ii']">
              <app-speaker [speaker]="speaker"></app-speaker>
            </div>
          </div>
        </article>

        <div class="title-wrapper">
          <h2>Rhinology</h2>
        </div>
        <article>
          <div class="list-wrapper row m-0">
            <div class="list-item px-3" [ngClass]="mobile ? 'col-6': 'col-2'"
              *ngFor="let speaker of speakers['Part ii-1']">
              <app-speaker [speaker]="speaker"></app-speaker>
            </div>
          </div>
        </article>

        <div class="title-wrapper">
          <h2>Head & Neck Surgery</h2>
        </div>
        <article>
          <div class="list-wrapper row m-0">
            <div class="list-item px-3" [ngClass]="mobile ? 'col-6': 'col-2'"
              *ngFor="let speaker of speakers['Part ii-2']">
              <app-speaker [speaker]="speaker"></app-speaker>
            </div>
          </div>
        </article>

        <div class="title-wrapper">
          <h2>학회&#183;의사회</h2>
        </div>
        <article>
          <div class="list-wrapper row m-0">
            <div class="list-item px-3" [ngClass]="mobile ? 'col-6': 'col-2'"
              *ngFor="let speaker of speakers['Part ii-3']">
              <app-speaker [speaker]="speaker"></app-speaker>
            </div>
          </div>
        </article>
      </div>
    </div>
  </div>
</div>
