<!--  !---------------------------Publish START--------------------------- -->
<div class="sponsors" *ngIf="categories1">
  <div class="section_1">
    <div class="diamond_banner position_default"></div>
    <div class="diamond_booth_set position_default">
      <div class="diamond_booth_1" [attr.data-target]="'#e-boothModal'" data-toggle="modal"
        (click)="getDetailV2('606565288eece2001286a386')"></div>
      <div class="diamond_booth_2" [attr.data-target]="'#e-boothModal'" data-toggle="modal"
        (click)="getDetailV2('6065652e8eece2001286a387')"></div>
    </div>
    <div class="diamond_left_flag position_default"></div>
    <div class="diamond_right_flag position_default"></div>
  </div>
  <div class="section_2">
    <div class="gold_banner position_default"></div>
    <div class="gold_booth_set_1 position_default">
      <div class="gold_booth_1 position_default" [attr.data-target]="'#e-boothModal'" data-toggle="modal"
        (click)="getDetailV2('606565388eece2001286a388')"></div>
    </div>
    <div class="gold_booth_set_2 position_default">
      <div class="gold_booth_2" [attr.data-target]="'#e-boothModal'" data-toggle="modal"
        (click)="getDetailV2('606e61f126e0e7001366efcd')"></div>
      <div class="gold_booth_3" [attr.data-target]="'#e-boothModal'" data-toggle="modal"
        (click)="getDetailV2('606e61ff26e0e7001366efce')"></div>
    </div>
  </div>
  <div class="section_3">
    <div class="silver_banner position_default"></div>
    <div class="silver_booth_set position_default">
      <div class="silver_booth_1" [attr.data-target]="'#e-boothModal'" data-toggle="modal"
        (click)="getDetailV2('606e62284a82600012057fa9')"></div>
      <div class="silver_booth_2" [attr.data-target]="'#e-boothModal'" data-toggle="modal"
        (click)="getDetailV2('606e624926e0e7001366efd0')"></div>
      <div class="silver_booth_3" [attr.data-target]="'#e-boothModal'" data-toggle="modal"
        (click)="getDetailV2('606e625026e0e7001366efd1')"></div>
      <div class="silver_booth_4" [attr.data-target]="'#e-boothModal'" data-toggle="modal"
        (click)="getDetailV2('606e62379e931600124737bd')"></div>
      <div class="silver_booth_5" [attr.data-target]="'#e-boothModal'" data-toggle="modal"
        (click)="getDetailV2('606e623f4a82600012057faa')"></div>
      <div class="silver_booth_6" [attr.data-target]="'#e-boothModal'" data-toggle="modal"
        (click)="getDetailV2('606e622f26e0e7001366efcf')"></div>
      <div class="silver_booth_7" [attr.data-target]="'#e-boothModal'" data-toggle="modal"
        (click)="getDetailV2('606e625a4a82600012057fab')"></div>
      <div class="silver_booth_8" [attr.data-target]="'#e-boothModal'" data-toggle="modal"
        (click)="getDetailV2('606e626026e0e7001366efd2')"></div>
      <div class="silver_booth_9" [attr.data-target]="'#e-boothModal'" data-toggle="modal"
        (click)="getDetailV2('607e3387b10dd50012cb522d')"></div>
    </div>
  </div>
  <div class="section_4">
    <div class="bronze_banner position_default"></div>
    <div class="bronze_booth_set_1 position_default">
      <div class="bronze_booth_1" [attr.data-target]="'#e-boothModal'" data-toggle="modal"
        (click)="getDetailV2('606e626b9e931600124737be')"></div>
      <div class="bronze_booth_3" [attr.data-target]="'#e-boothModal'" data-toggle="modal"
        (click)="getDetailV2('606e626f4a82600012057fac')"></div>
    </div>
    <div class="bronze_booth_set_2 position_default">
      <div class="bronze_booth_4" [attr.data-target]="'#e-boothModal'" data-toggle="modal"
        (click)="getDetailV2('606e627c26e0e7001366efd3')"></div>
      <div class="bronze_booth_5" [attr.data-target]="'#e-boothModal'" data-toggle="modal"
        (click)="getDetailV2('607e3434b10dd50012cb5230')"></div>
      <div class="bronze_booth_6" [attr.data-target]="'#e-boothModal'" data-toggle="modal"
        (click)="getDetailV2('607e34a02adeb900132a2c55')"></div>
    </div>
  </div>
</div>

<!-- ! ---------------------------Publish END--------------------------- -->
<!-- silver 9 Id: 607e3387b10dd50012cb522d  -->
<article>
  <div class="list-wrapper row m-0">
    <div class="list-item px-3" *ngFor="let booth of categories2">
      <div class="sponsor-wrapper" [attr.data-target]="'#e-boothModal'" data-toggle="modal"
        (click)="getDetailV2(booth.id)">
        <figure>
          <div class="image-wrapper">
            <img [src]="booth.photoUrl" [alt]="booth.name">
          </div>
        </figure>
      </div>
    </div>
  </div>
</article>

<div class="my-page-inner stamp-tour" *ngIf="user && user.isLog">
  <h3 class="text-center stamp-tour-title">STAMP TOUR CHECK LIST</h3>
  <button type="button"
    style="width:100%; font-size:2rem; color:black; font-weight: 700;margin-bottom:32px;background:lightgray;"
    (click)="openSurvey()">
    설문조사 하러가기(클릭)
  </button>
  <div class="info-inner">
    <div class="stamp-list row m-0">
      <ng-container *ngFor="let booth of boothsOfStamp">
        <div class="stamp-item px-1" [ngClass]="{'opacity': booth.visit, 'visited':booth.visit}">
          <img class="spon-logo" [ngClass]="{'opacity': booth.visit}" [src]="booth.photoUrl" [alt]="booth.name">
          <img *ngIf="booth.visit" class="stamp-icon" src="assets/img/e-booth/imgs/stamp.png" alt="스템프이미지">
        </div>
      </ng-container>
    </div>
  </div>
</div>

<!-- ! e-booth modal -->
<div class="modal detail-modal fade" id="e-boothModal" tabindex="-1" role="dialog" aria-labelledby="e-boothModal"
  aria-hidden="true">
  <div class="modal-dialog modal-lg modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="item-btn" data-dismiss="modal" aria-label="Close">
          <i class="icon-close-w" aria-hidden="true"></i>
        </button>
      </div>
      <div class="modal-body p-0">
        <figure class="e-booth">
          <div class="image-wrapper">
            <img [src]="selectedBooth?.photoUrl+'?'+random || ''" alt="{{selectedBooth?.name || ''}}">
            <div class="item-info">
              <p class="item-name">{{selectedBooth?.name || ''}}</p>
            </div>
          </div>
          <div class="item-inner">
            <div class="attachments" *ngIf="attachments.length">
              <div>
                <a *ngFor="let attachment of attachments" class="download" target="_self" title="{{attachment.title}}"
                  [href]="attachment.contentUrl" download="{{attachment.title}}">
                  <i class="icon-clip"></i>
                  <span class="ellipsis">{{attachment.title}}</span>
                </a>
              </div>
            </div>
          </div>
        </figure>
        <div class="item-desc">
          <div class="iframe-wrapper" id="boothModalDesc"></div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- ! 당첨 모달 버튼 -->
<button #winAlertBtn class="win-alert-btn" data-toggle="modal" data-target="#winAlert">
  win modal open
</button>

<!-- ! 당첨 모달 -->
<div class="modal win-alert fade" id="winAlert" data-backdrop="static" role="dialog" aria-labelledby="winAlert"
  tabindex="-1" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered justify-content-center" role="document">
    <div class="modal-content not-drag">
      <div class="modal-body p-0">
        <div class="modal-description">
          <p class="mb-2 text-center">
            스탬프투어가 완료되었습니다.
          </p>
          <!-- <p class="mb-2 text-center"> -->
            <!-- 이벤트 참여를 위해서는 아래 링크를 클릭하시어,<br> -->
            <!-- 설문에 참여하시는 분에 한하여 제공됩니다.<br> -->
            <!-- <a style="color:yellow; display: flex; justify-content: center;"></a> -->
          <!-- </p> -->
        </div>
        <button type="button" class="btn btn-block confirm-btn" data-toggle="modal" data-target="#winAlert">
          확인
        </button>
      </div>
    </div>
  </div>
</div>

<!-- ! 당첨 모달 버튼 -->
<button #notiAlertBtn class="win-alert-btn" data-toggle="modal" data-target="#notiAlert">
  noti modal open
</button>

<!-- ! 설문조사 안내 모달 -->
<div class="modal survey-alert fade" id="notiAlert" data-backdrop="static" role="dialog" aria-labelledby="notiAlert"
  tabindex="-1" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered justify-content-center" role="document">
    <div class="modal-content not-drag">
      <button type="button" class="close close_button" aria-label="Close">
        <span aria-hidden="true" data-toggle="modal" data-target="#notiAlert">&times;</span>
      </button>
      <div class="modal-body p-0">
        <div class="modal-description">
          <p class="mb-2 text-left">
            ICORL 2021 스폰서 스탬프투어 이벤트가 진행중입니다.<br>
            모든 부스를 방문하신 후, 아래 버튼을 클릭하여<br>
            설문조사에 참여해주시면 이벤트 참여가 완료됩니다.<br>
          </p>
          <p class="mb-2 text-left">
            &#8251; 모든 부스를 방문하였지만 설문조사에 참여하지 않으실 경우,<br>
            &nbsp;&nbsp;&nbsp;이벤트 참여가 되지 않습니다.
          </p>
          <p class="mb-2 text-left">
            &#8251; 설문조사는 NOTICE – 공지사항에서도 참여하실 수 있습니다.
          </p>
        </div>
        <button type="button" class="btn btn-block more_info_confirm-btn" (click)="openSurvey()" data-toggle="modal"
          data-target="#notiAlert">
          설문조사 하러가기(클릭)
        </button>

        <div class="text-right not_today" (click)="dayBlock()" data-toggle="modal" data-target="#notiAlert">
          오늘 하루 이 창을 열지 않음
        </div>
      </div>
    </div>
  </div>
</div>
