// break points
$desktop: 1024px;
$tablet: 768px;
$mobile: 576px;

// mixin
@mixin desktop {
  @media (min-width: #{$desktop}) {
    @content;
  }
}

@mixin tablet {
  @media (min-width: #{$tablet}) {
    @content;
  }
}

@mixin mobile {
  @media (min-width: #{$mobile}) {
    @content;
  }
}

.sponsor-wrapper {
  cursor: pointer;
  box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.2);

  figure {

    .image-wrapper {
      display: flex;
      align-items: center;
      justify-content: center;
      height: 101px;
      padding: 0 16px;

      img {
        width: auto;
        height: auto;
        max-width: 90%;
        max-height: 90%;
      }
    }
  }
}

.stamp-tour {
  border-top: 3px dotted gray;
  padding-top: 60px;
  margin-top: 36px;
  padding-bottom: 0;

  .stamp-tour-title {
    font-size: 2.3rem;
    margin-bottom: 26px;
  }

  .stamp-item {
    display: flex;
    position: relative;
    flex: 0 0 19%;
    justify-content: center;
    align-items: center;
    max-width: 19%;
    height: 15vh;
    margin: 0 0.5%;
    margin-bottom: 16px;
    transition: all 1s ease;
    -webkit-transition: all 1s ease;
    -moz-transition: all 1s ease;
    -ms-transition: all 1s ease;
    -o-transition: all 1s ease;
    border: 1px solid #ddd;

    &.visited {
      background-color: rgba(0, 0, 0, 0.3);
    }

    img {
      width: auto;
      height: auto;
      max-width: 90%;
      max-height: 90%;

    }

    .spon-logo {


      &.opacity {
        opacity: 0.5;
      }
    }

    .stamp-icon {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      // width: 50%;
      -webkit-transform: translate(-50%, -50%);
      -moz-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
      -o-transform: translate(-50%, -50%);
    }
  }
}


// position default class
.position_default {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}

body,
html {
  position: absolute;
  width: 100%;
  height: 100%;
}

.sponsors {
  position: relative;
  overflow-x: hidden;
  width: 100%;
  max-height: 5500px;
  height: 785%;

  @include mobile {
    max-height: 6000px;
  }

  @include tablet {
    max-height: 8498px;
    height: 480.6041%;
    overflow-y: hidden;
  }
}

// 섹션별 배경

.section_1 {
  background: url(/assets/img/e-booth/imgs/bg1.png) no-repeat bottom / cover;
  position: relative;
  width: 100%;
  height: 19.7910%;
  max-height: 780px;

  @include mobile {
    max-height: 1416px;
    height: 20.5671%;
  }

  @include tablet {
    max-height: 1416px;
    height: 22.6627%;
    overflow-y: hidden;
  }
}

.section_2 {
  background: url(/assets/img/e-booth/imgs/bg2.png) no-repeat center / cover;
  position: relative;
  width: 100%;
  height: 19.7910%;
  max-height: 5480px;

  @include mobile {
    height: 17.7910%;
  }

  @include tablet {
    max-height: 2078px;
    height: 22.4528%;
  }
}

.section_3 {
  background: url(/assets/img/e-booth/imgs/bg3.png) no-repeat center / cover;
  position: relative;
  width: 100%;
  height: 38.0597%;
  max-height: 5480px;

  @include tablet {
    max-height: 2078px;
    height: 35.4528%;
  }
}

.section_4 {
  background: url(/assets/img/e-booth/imgs/bg4.png) no-repeat center / cover;
  position: relative;
  width: 100%;
  height: 24.3582%;
  max-height: 1300px;

  @include tablet {
    max-height: 942px;
    height: 16.0849%;
  }
}

// section_1 contents

.diamond_banner {
  background: url(/assets/img/e-booth/imgs/diamond_banner.png) no-repeat top / contain;
  max-width: 1440px;
  max-height: 487px;
  width: 100%;
  height: 30%;
  top: 9%;

  @include mobile {
    top: 5%;
  }

  @include tablet {
    width: 75%;
    height: 34.3926%;
    top: 6%;
  }
}

.diamond_booth_set {
  display: flex;
  flex-flow: row wrap;
  max-width: 1600px;
  width: 100%;
  height: 62.8994%;
  position: absolute;
  bottom: 0.6281%;

  @include tablet {
    max-width: 1300px;
    height: 56.9497%;
    bottom: 7.4221%;
  }
}

.diamond_booth_1 {
  background: url(/assets/img/e-booth/imgs/diamond_booth_1.png) no-repeat center / contain;
  flex: auto;
  width: 100%;
  height: 50%;

  @include tablet {
    width: 50%;
    height: 100%;
  }
}

.diamond_booth_2 {
  background: url(/assets/img/e-booth/imgs/diamond_booth_2.png) no-repeat center / contain;
  flex: auto;
  width: 100%;
  height: 50%;

  @include tablet {
    width: 50%;
    height: 100%;
  }
}

.diamond_left_flag {
  background: url(/assets/img/e-booth/imgs/diamond_left_flag.png) no-repeat center / contain;
  max-width: 222px;
  max-height: 645px;
  margin-left: -42.8125%;
  width: 15.4166%;
  height: 45.5508%;
  bottom: 21.6497%;
  min-width: 60px;

  @include mobile {
    margin-left: -40.8125%;
    width: 15.4166%;
    height: 45.5508%;
    bottom: 22.6497%;
  }

  @include tablet {
    margin-left: -38.8125%;
    bottom: 5.6497%;
    width: 15.4166%;
    height: 45.5508%;
  }
}

.diamond_right_flag {
  background: url(/assets/img/e-booth/imgs/diamond_right_flag.png) no-repeat center / contain;
  max-width: 222px;
  max-height: 645px;
  margin-left: 42.8125%;
  width: 15.4166%;
  height: 30.5508%;
  bottom: -2.3503%;
  min-width: 60px;

  @include mobile {
    margin-left: 40.8125%;
    width: 15.4166%;
    height: 30.5508%;
    bottom: -0.3503%;
  }

  @include tablet {
    margin-left: 38.8125%;
    bottom: 5.6497%;
    width: 15.4166%;
    height: 45.5508%;
  }
}

// section_2 contents
.gold_banner {
  background: url(/assets/img/e-booth/imgs/gold_banner.png) no-repeat center / contain;
  max-width: 600px;
  max-height: 234px;
  width: 42.25%;
  height: 8%;

  @include tablet {
    width: 21.25%;
    height: 17%;
    min-width: 264px;
  }
}

.gold_booth_set_1 {
  display: flex;
  flex-flow: row wrap;
  max-width: 1047px;
  max-height: 5196px;
  width: 100%;
  height: 48.8175%;
  position: absolute;
  top: 14%;

  @include tablet {
    max-width: 1396px;
    min-width: 784px;
    top: 18%;
    width: 66.7083%;
    height: 32.8175%;
  }
}

.gold_booth_1 {
  background: url(/assets/img/e-booth/imgs/gold_booth_1.png) no-repeat center / contain;
  max-width: 1047px;
  max-height: 649.5px;
  width: 100%;
  height: 50%;

  @include tablet {
    max-width: 698px;
    max-height: 433px;
    width: 50%;
    height: 100%;
  }
}

.gold_booth_set_2 {
  display: flex;
  flex-flow: row wrap;
  max-width: 1047px;
  max-height: 5196px;
  width: 100%;
  height: 48.8175%;
  position: absolute;
  top: 37%;

  @include tablet {
    max-width: 1396px;
    min-width: 784px;
    top: 52%;
    width: 66.7083%;
    height: 32.8175%;
  }
}

.gold_booth_2 {
  background: url(/assets/img/e-booth/imgs/gold_booth_2.png) no-repeat center / contain;
  max-width: 1047px;
  max-height: 649.5px;
  width: 100%;
  height: 50%;

  @include tablet {
    max-width: 698px;
    max-height: 433px;
    width: 50%;
    height: 100%;
  }
}

.gold_booth_3 {
  background: url(/assets/img/e-booth/imgs/gold_booth_3.png) no-repeat center / contain;
  max-width: 1047px;
  max-height: 649.5px;
  width: 100%;
  height: 50%;

  @include tablet {
    max-width: 698px;
    max-height: 433px;
    width: 50%;
    height: 100%;
  }
}

// section_3 contents

.silver_banner {
  background: url(/assets/img/e-booth/imgs/silver_banner.png) no-repeat center / contain;
  max-width: 600px;
  max-height: 234px;
  width: 42.25%;
  height: 5%;

  @include tablet {
    width: 21.25%;
    height: 17%;
    min-width: 264px;
  }
}

.silver_booth_set {
  display: flex;
  flex-flow: row wrap;
  max-width: 1047px;
  max-height: 5196px;
  width: 100%;
  height: 80.8175%;
  position: absolute;
  top: 8%;

  @include tablet {
    max-width: 1396px;
    min-width: 640px;
    top: 18%;
    width: 66.7083%;
    height: 64.8175%;
  }
}

.silver_booth_1 {
  background: url(/assets/img/e-booth/imgs/silver_booth_1.png) no-repeat center / contain;
  max-width: 1047px;
  max-height: 649.5px;
  width: 100%;
  height: 12.5%;

  @include tablet {
    max-width: 698px;
    max-height: 433px;
    width: 50%;
    height: 25%;
  }
}

.silver_booth_2 {
  background: url(/assets/img/e-booth/imgs/silver_booth_2.png) no-repeat center / contain;
  max-width: 1047px;
  max-height: 649.5px;
  width: 100%;
  height: 12.5%;

  @include tablet {
    max-width: 698px;
    max-height: 433px;
    width: 50%;
    height: 25%;
  }
}

.silver_booth_3 {
  background: url(/assets/img/e-booth/imgs/silver_booth_3.png) no-repeat center / contain;
  max-width: 1047px;
  max-height: 649.5px;
  width: 100%;
  height: 12.5%;

  @include tablet {
    max-width: 698px;
    max-height: 433px;
    width: 50%;
    height: 25%;
  }
}

.silver_booth_4 {
  background: url(/assets/img/e-booth/imgs/silver_booth_4.png) no-repeat center / contain;
  max-width: 1047px;
  max-height: 649.5px;
  width: 100%;
  height: 12.5%;

  @include tablet {
    max-width: 698px;
    max-height: 433px;
    width: 50%;
    height: 25%;
  }
}

.silver_booth_5 {
  background: url(/assets/img/e-booth/imgs/silver_booth_5.png) no-repeat center / contain;
  max-width: 1047px;
  max-height: 649.5px;
  width: 100%;
  height: 12.5%;

  @include tablet {
    max-width: 698px;
    max-height: 433px;
    width: 50%;
    height: 25%;
  }
}

.silver_booth_6 {
  background: url(/assets/img/e-booth/imgs/silver_booth_6.png) no-repeat center / contain;
  max-width: 1047px;
  max-height: 649.5px;
  width: 100%;
  height: 12.5%;

  @include tablet {
    max-width: 698px;
    max-height: 433px;
    width: 50%;
    height: 25%;
  }
}

.silver_booth_7 {
  background: url(/assets/img/e-booth/imgs/silver_booth_7.png) no-repeat center / contain;
  max-width: 1047px;
  max-height: 649.5px;
  width: 100%;
  height: 12.5%;

  @include tablet {
    max-width: 698px;
    max-height: 433px;
    width: 50%;
    height: 25%;
  }
}

.silver_booth_8 {
  background: url(/assets/img/e-booth/imgs/silver_booth_8.png) no-repeat center / contain;
  max-width: 1047px;
  max-height: 649.5px;
  width: 100%;
  height: 12.5%;

  @include tablet {
    max-width: 698px;
    max-height: 433px;
    width: 50%;
    height: 25%;
  }
}
.silver_booth_9 {
  background: url(/assets/img/e-booth/imgs/silver_booth_9.png) no-repeat center / contain;
  max-width: 1047px;
  max-height: 649.5px;
  width: 100%;
  height: 12.5%;

  @include tablet {
    max-width: 698px;
    max-height: 433px;
    width: 50%;
    height: 25%;
  }
}

// section_4 contents
.bronze_banner {
  background: url(/assets/img/e-booth/imgs/bronze_banner.png) no-repeat center / contain;
  max-width: 600px;
  max-height: 235px;
  top: 0.2377%;
  width: 42.25%;
  height: 10%;

  @include tablet {
    width: 21.25%;
    height: 34%;
    min-width: 264px;
  }
}

.bronze_booth_set_1 {
  display: flex;
  flex-flow: row wrap;
  width: 100%;
  height: 32%;
  position: absolute;
  top: 15%;
  justify-content: center;

  @include tablet {
    max-width: 984px;
    max-height: 344px;
    min-width: 540px;
    width: 60.25%;
    height: 28.1967%;
    top: 34%;
  }
}

.bronze_booth_1 {
  background: url(/assets/img/e-booth/imgs/bronze_booth_1.png) no-repeat center / contain;
  max-width: 1047px;
  max-height: 1079px;
  width: 100%;
  height: 50%;
  flex: auto;

  @include tablet {
    max-width: 328px;
    max-height: 344px;
    width: 33.3333%;
    height: 100%;
  }
}

// .bronze_booth_2 {
//   background: url(/assets/img/e-booth/imgs/bronze_booth_2.png) no-repeat center / contain;
//   max-width: 1047px;
//   max-height: 1079px;
//   width: 100%;
//   height: 33.3333%;
//   flex: auto;

//   @include tablet {
//     max-width: 328px;
//     max-height: 344px;
//     width: 33.3333%;
//     height: 100%;
//   }
// }

.bronze_booth_3 {
  background: url(/assets/img/e-booth/imgs/bronze_booth_3.png) no-repeat center / contain;
  max-width: 1047px;
  max-height: 1079px;
  width: 100%;
  height: 50%;
  flex: auto;

  @include tablet {
    max-width: 328px;
    max-height: 344px;
    width: 33.3333%;
    height: 100%;
  }
}

.bronze_booth_set_2 {
  display: flex;
  flex-flow: row wrap;
  width: 100%;
  height: 48%;
  position: absolute;
  top: 47%;

  @include tablet {
    max-width: 984px;
    max-height: 344px;
    min-width: 540px;
    width: 60.25%;
    height: 28.1967%;
    top: 62.1967%;
  }
}

.bronze_booth_4 {
  background: url(/assets/img/e-booth/imgs/bronze_booth_4.png) no-repeat center / contain;
  max-width: 1047px;
  max-height: 1079px;
  width: 100%;
  height: 33.3333%;
  flex: auto;

  @include tablet {
    max-width: 328px;
    max-height: 344px;
    width: 33.3333%;
    height: 100%;
  }
}

.bronze_booth_5 {
  background: url(/assets/img/e-booth/imgs/bronze_booth_5.png) no-repeat center / contain;
  max-width: 1047px;
  max-height: 1079px;
  width: 100%;
  height: 33.3333%;
  flex: auto;

  @include tablet {
    max-width: 328px;
    max-height: 344px;
    width: 33.3333%;
    height: 100%;
  }
}

.bronze_booth_6 {
  background: url(/assets/img/e-booth/imgs/bronze_booth_6.png) no-repeat center / contain;
  max-width: 1047px;
  max-height: 1079px;
  width: 100%;
  height: 33.3333%;
  flex: auto;

  @include tablet {
    max-width: 328px;
    max-height: 344px;
    width: 33.3333%;
    height: 100%;
  }
}

.item-desc {
  display: flex;
  justify-content: center;
  padding: 0 24px;
  font-size: 1.33rem;

  &>p {
    margin-bottom: 0;
    word-break: break-all;
  }

  .image-item {
    margin-right: 16px;
  }
}

// ! MODAL --------------------------------------------------------------- 
/* 스템프투어 당첨 이벤트 모달 */
.win-alert-btn {
  display: none;
}

.win-alert {
  background: RGBA(0, 0, 0, .8);

  .modal-content {
    padding: 32px;
    width: 516px;
    max-width: 90%;
    background: var(--gray23);

    .modal-title {
      color: var(--white);
      font-size: 1.6rem;
      padding-bottom: 8px;
      border-bottom: 1px solid var(--white);
    }

    .modal-description {
      padding: 16px 0;

      p {
        padding: 8px 0;
        font-size: 1.5rem;
        color: var(--white);
      }
    }

    .confirm-btn {
      height: 50px;
      color: var(--white);
      font-size: 1.2rem;
      font-weight: 600;
      border-radius: 25px;
      background: var(--blue2);
    }
  }
}

.survey-alert {
  background: RGBA(0, 0, 0, .8);

  .close_button {
    color: var(--white);
    width: 100%;

    span {
      font-size: 2rem;
      position: absolute;
      right: 22px;
      top: 18px;
    }
  }

  .modal-content {
    padding: 32px;
    width: 516px;
    max-width: 100%;
    background: var(--gray23);

    .modal-title {
      color: var(--white);
      font-size: 1.6rem;
      padding-bottom: 8px;
      border-bottom: 1px solid var(--white);
    }

    .modal-description {
      padding: 16px 0;

      p {
        padding: 8px 0;
        font-size: 1.3rem;
        color: var(--white);
      }
    }

    .more_info_confirm-btn {
      height: 50px;
      color: var(--white);
      font-size: 1.5rem;
      font-weight: 600;
      border-radius: 25px;
      background: var(--gray20);

      a {
        color: var(--white);
      }
    }

    .not_today {
      position: absolute;
      right: -22px;
      bottom: -26px;
      cursor: pointer;
      color: var(--gray2);
    }
  }
}



.modal.detail-modal {

  .modal-body {

    overflow: auto;
  }

  /* modal content */
  figure {
    display: flex;
    position: relative;
    padding: 24px;
    max-height: 100%;
    margin: 0;
    text-align: center;

    .photo {
      display: flex;
    }

    .image-wrapper {
      display: flex;
      flex: 0 0 36%;
      align-self: center;
      max-width: 36%;
      min-height: 13vh;
      max-height: 100%;

      img {
        width: auto;
        height: auto;
        max-width: 95%;
        max-height: 95%;
        object-fit: contain;
      }
    }
  }

  a {
    display: block;
  }

  .item-info {
    position: absolute;
    left: 37%;
    top: 24px;
    flex-basis: auto;
    min-width: 200px;
    min-height: 80px;
    font-size: 1.33rem;
    text-align: left;

    .home-link {
      margin-bottom: 28px;
      color: var(--gray22);
      transition: none;
      -webkit-transition: none;
      -moz-transition: none;
      -ms-transition: none;
      -o-transition: none;

      &:hover {
        color: var(--blue8);
        text-decoration: underline;

      }
    }

    >p {
      font-size: 1.25rem;
    }

    .item-name {
      margin-bottom: 8px;
      font-size: 1.33rem;
      font-weight: bold;
      text-align: left;
    }
  }

  .item-inner {
    flex: 0 0 60%;
    max-width: 60%;
  }

  .attachments {
    // 반응형작업을 위해 구조상 item-info를 강제로 위로 올렸기 때문에 하단에 attachments에 패딩 상단 값은 item-info height값이다.
    // 만약에 item-info에 내용이 변경되면 패딩값을 변경해야한다.
    padding-top: 80px;
    color: var(--gray22);
    font-size: 1.33rem;
    text-align: left;

  }

  .download {
    display: inline-flex;
    min-width: 137px;
    margin-top: 8px;
    margin-right: 8px;
    padding: 8px;
    color: var(--gray22);
    font-size: 14px;
    font-weight: 500;
    background: #fff;
    border: 1px solid var(--gray10);
    border-radius: 4px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    -o-border-radius: 4px;

    &:hover {
      color: var(--blue8);
      font-weight: 600;
      text-decoration: underline;
    }

    /*클립아이콘*/
    .icon-clip {
      display: inline-block;
      vertical-align: middle;
      width: 11px;
      height: 22px;
      margin-right: 8px;
      background-image: url('/assets/img/icon-clip.png');
      background-size: contain;
      background-repeat: no-repeat;
    }

    .ellipsis {
      max-width: 65px;
      padding-left: 5px;

      &:first-child {
        padding-left: 0;
      }
    }

  }

  .item-desc {
    display: flex;
    justify-content: center;
    padding: 0 24px;
    font-size: 1.33rem;

    &>p {
      margin-bottom: 0;
      word-break: break-all;
    }

    .image-item {
      margin-right: 16px;
    }
  }
}

article {
  margin: 0 auto;
}

.sponsor-wrapper {
  cursor: pointer;
  box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.2);

  figure {

    .image-wrapper {
      display: flex;
      align-items: center;
      justify-content: center;
      height: 101px;
      padding: 0 16px;

      img {
        width: auto;
        height: auto;
        max-width: 90%;
        max-height: 90%;
      }
    }
  }
}

.list-wrapper {
  .list-item {
    flex: 0 0 16.66%;
    max-width: 16.66%;
    max-height: 300px;
    margin-bottom: 40px;
    transition: all 0.5s ease;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -ms-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
  }
}

@media screen and (max-width : 1280px) {
  .stamp-tour {
    .stamp-item {
      height: 120px;
    }
  }
}

@media(max-width: 1025px) {
  .list-wrapper {
    padding: 0;

    .list-item {
      flex: 0 0 25%;
      max-width: 25%;
    }
  }
}

@media (max-width: 1024px) {
  figure {
    flex-wrap: wrap;
  }

  .modal.detail-modal .item-info {
    min-height: 15vh;
  }
}

@media (max-width: 991px) {

  .modal.detail-modal .item-inner {
    flex: none;
    max-width: 100%;
  }

  .modal.detail-modal .attachments {
    width: 100%;
    min-width: 300px;
    padding-top: 0;

    .download {
      max-width: 270px;
    }

    .ellipsis {
      display: inline-block;
      width: 100%;
      max-width: 90%;
      vertical-align: middle;
    }
  }
}


@media (max-width: 768px) {
  .modal.detail-modal figure .image-wrapper {
    min-width: 117px;
    height: unset;

    img {
      max-height: 100%;
    }
  }

  .modal.detail-modal .download {
    display: block;
    max-width: 100%;
  }


  .list-wrapper {
    padding: 0;

    .list-item {
      flex: 0 0 33.33%;
      max-width: 33.3%
    }
  }

  .stamp-tour {

    .stamp-item {
      flex: 0 0 24%;
      max-width: 24%;

    }
  }
}

@media (max-width: 575px) {
  .modal.detail-modal .item-info {
    .item-name {
      word-break: break-all;
    }
  }

  .stamp-tour {

    .stamp-item {
      flex: 0 0 32.33%;
      max-width: 32.33%;
    }
  }
}

@media (max-width: 414px) {
  .modal.detail-modal .item-info {
    max-width: 137px;
    min-width: unset;

  }

  .modal.detail-modal .download {
    display: block;
    max-width: 100%;
  }
}

@media (max-width: 360px) {

  .modal.detail-modal figure .item-info {
    left: 133px;
  }

  .modal.detail-modal .attachments {
    min-width: 260px;
  }

  .stamp-tour {

    .stamp-item {
      flex: 0 0 100%;
      max-width: 100%;
      height: 160px;
    }
  }
}
